.card_container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  width: max-content;
  margin: auto;
  margin-top: 1.5rem;
  padding: 1rem 2rem;

  border-radius: 10px;

  background-color: #f6cacf;
}

.division {
  height: 90px;
  width: 2px;
  background-color: #333;
}

.coinTitle_container {
  text-align: center;

  color: #333;
}

.coinTitle_container h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.coinTitle_container h1 {
  font-size: 4.5rem;
  font-weight: 500;
}

.coinInfo_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.coinInfo_container h3 {
  font-size: 1.25rem;
  font-weight: 400;

  color: #333;
}

.coinInfo_container p {
  color: rgba(0, 0, 0, 0.5);
}
