.blankPage_container {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.blankPage_container > *:not(:first-child) {
  margin-top: 1rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 600;
}

.infoText {
  font-size: 1.25rem;
  line-height: 1.75rem;

  font-family: "Open Sans", sans-serif;
}
