.title_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.7px;

  margin: 1rem 2rem;

  min-width: 430px;
}

.rectangle {
  height: 15px;
  background-color: #5979f1;

  z-index: -2;
}
