.openAccount_container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;

  padding: 5rem;
}

.img_container img {
  width: 500px;
}

.openAccount_text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  text-align: right;

  padding-top: 3rem;

  color: #333;
}

.openAccount_text > *:not(:first-child) {
  margin-top: 2rem;
}

.openAccount_text h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
}

.openAccount_text p {
  font-size: 1.25rem;

  padding-left: 2rem;
  line-height: 1.75rem;
}

.coinPrice_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  max-width: 550px;
  margin: 1rem auto;
}

.coinPrice_container > *:not(:first-child) {
  margin-top: 2rem;
}

.coinPrice_container p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  text-align: center;
  color: #333;
}

.coinPrice_container b {
  font-weight: 600;
}
