.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 5rem;
}

.header a {
  text-decoration: none;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fb4a4a;
}

.buttons_list {
  display: flex;
  gap: 10px;
}
