.footer {
  text-align: center;

  background-color: #333;

  padding: 0.5rem 0;

  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.footer h3 {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.9px;
  color: #fafafa;
}
